p {
text-align: center;
font-size: 32px;
font-family: Candara, Oswald;
}
img {
display: block;
margin: 0 auto;
width: 45%;
}

#btn-1 {
position: fixed;
top: 70%;
left: 55%;
transform: translate(-50%, -50%);
}
#btn-2 {
position: absolute;
 left: 39%;
  top: 68%;
}
